.DS_Store
.idea
.vscode
._*
.history
node_modules
coverage
.eslintrc
.npmignore
.npmrc
.travis.yml
appveyor.yml
yarn.lock
.yarnrc
.circleci
.codeclimate.yml
.editorconfig
codecov.yml
azure-pipelines.yml
